.hero {
  display: flex;
}
.main-container {
  background-color: #1b1c1d;
  width: 100%;
  color: white;
  padding: 0px 10px;
}

.Manu-Search-Bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}
.sidebar {
  transition: width 0.4s ease, background-color 0.3s ease;
  overflow: hidden;
}

.NewChat {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  margin: 10px 0px;
}

/* .NewChat:hover {
  border-radius: 50px;
  background-color: rgb(58, 54, 54);
} */
.NewChat span {
  font-size: medium;
  margin: 0px 10px;
  cursor: pointer;
}
.historyDiv {
  padding: 0px 20px 20px 20px;
  max-height: 395px;
  overflow: auto;
  scrollbar-width: none;
  font-weight: 100;
}

.setting {
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  bottom: 0;
  cursor: pointer;
}

.setting span {
  margin: 20px;
  font-size: large;
  display: flex;
  align-items: center;
}

.exploreGame {
  margin: 0px 0px 0px 0px;
  cursor: pointer;
}
